In [9]:
%reload_kedro
df = catalog.load("hospital_beds_raw")
import pandas as pd

c:\users\marc_\.conda\envs\datathon-2\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

2020-10-04 00:49:20,883 - root - INFO - ** Kedro project Datathon 2020
2020-10-04 00:49:20,884 - root - INFO - Defined global variable `context` and `catalog`
2020-10-04 00:49:20,894 - root - INFO - Registered line magic `run_viz`
2020-10-04 00:49:20,896 - kedro.io.data_catalog - INFO - Loading data from `hospital_beds_raw` (CSVDataSet)...

In [10]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Unnamed: 64
0,Aruba,ABW,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,0.170627,NaN,NaN,NaN,NaN,NaN,...,0.4,0.5,0.5,0.5,0.5,NaN,NaN,NaN,NaN,NaN
2,Angola,AGO,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,2.061462,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,ALB,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,5.102676,NaN,NaN,NaN,NaN,NaN,...,2.6,2.9,2.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,AND,"Hospital beds (per 1,000 people)",SH.MED.BEDS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df2 = pd.melt(df, ["Country Name","Country Code","Indicator Name","Indicator Code"])
df3 = df2[df2['variable'] != "Unnamed: 64"].dropna().sort_values("variable").groupby(["Country Name","Country Code"]).agg({"variable" : "last",
                                                                                                   "value": "last"}).reset_index()

df3.columns = ["Country Name","Country Code", "year","hospital_beds_per_1000"] 
df3

c:\users\marc_\.conda\envs\datathon-2\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

           Country Name Country Code  year  hospital_beds_per_1000
0           Afghanistan          AFG  2015                0.500000
1               Albania          ALB  2013                2.900000
2               Algeria          DZA  2015                1.900000
3               Andorra          AND  2009                2.500000
4                Angola          AGO  2005                0.800000
..                  ...          ...   ...                     ...
241  West Bank and Gaza          PSE  1996                1.200000
242               World          WLD  2011                2.704488
243         Yemen, Rep.          YEM  2014                0.700000
244              Zambia          ZMB  2010                2.000000
245            Zimbabwe          ZWE  2011                1.700000

[246 rows x 4 columns]

In [34]:
def get_latest_info_WB(df: pd.DataFrame, col: str) -> pd.DataFrame:
    df2 = pd.melt(
        df, ["Country Name", "Country Code", "Indicator Name", "Indicator Code"]
    def get_latest_info_WB(df: pd.DataFrame, col: str) -> pd.DataFrame:
    df2 = pd.melt(
        df, ["Country Name", "Country Code", "Indicator Name", "Indicator Code"]
    )
    df3 = (
        df2[df2["variable"] != "Unnamed: 64"]
        .dropna()
        .sort_values("variable")
        .groupby(["Country Name", "Country Code"])
        .agg({"variable": "last", "value": "last"})
        .reset_index()
    )
    df3.columns = ["Country Name", "Country Code", "year", col]
    return df3

    df3 = (
        df2[df2["variable"] != "Unnamed: 64"]
        .dropna()
        .sort_values("variable")
        .groupby(["Country Name", "Country Code"])
        .agg({"variable": "last", "value": "last"})
        .reset_index()
    )
    df3.columns = ["Country Name", "Country Code", "year", col]
    return df3

SyntaxError: invalid syntax (<ipython-input-34-25dd1bed9788>, line 4)

In [36]:
test = pd.DataFrame()
test.merge(df3)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False